<div class="min-h-screen relative">

  <app-navbar></app-navbar>

  <div class="flex flex-row justify-between px-4 mt-1">
      <div class="recherche">
        <label for="">
          <input type="text" placeholder="Rechercher..."
            class="p-2 border border-gray-300 rounded-xl focus:outline-none" />
        </label>
      </div>

      <div class="flex flex-row ">

      <div class="">
          <button type="button" (click)="OpenModalClient()"
            class=" text-white rounded-xl font-bold hover:opacity-85 3s">
            <svg version="1.1" id="Layer_1" xmlns="http://www.w3.org/2000/svg" width="35" height="35"
              xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" viewBox="0 0 426.667 426.667"
              style="enable-background:new 0 0 426.667 426.667;" xml:space="preserve">
              <path style="fill:#50C8EF;" d="M213.333,0C95.514,0,0,95.514,0,213.333s95.514,213.333,213.333,213.333
                              	s213.333-95.514,213.333-213.333S331.153,0,213.333,0z M341.333,251.733h-89.6v89.6h-76.8v-89.6h-89.6v-76.8h89.6v-89.6h76.8v89.6
                              	h89.6V251.733z"></path>
              <g>
              </g>
              <g>
              </g>
              <g>
              </g>
              <g>
              </g>
              <g>
              </g>
              <g>
              </g>
              <g>
              </g>
              <g>
              </g>
              <g>
              </g>
              <g>
              </g>
              <g>
              </g>
              <g>
              </g>
              <g>
              </g>
              <g>
              </g>
              <g>
              </g>
            </svg>
          </button>
          <app-modal-client [isOpen]="isOpenModal" title="client" (close)="closeModal()">
          </app-modal-client>
      </div>


        <button type="button"
          class="bg-green-500 text-white rounded-xl p-2 font-bold hover:bg-green-600 transition 3s  mx-1">Export Excel</button>
        <button type="button"
          class="bg-yellow-500 text-white rounded-xl p-2 font-bold hover:bg-yellow-600 transition 3s">Import
          Excel</button>

      </div>
  </div>

  <div class=" gap-2 p-2">
    <div class="col-span-2 p-6 bg-white rounded-lg shadow">
      <h2 class="text-xl font-semibold mb-4 text-gray-800">Liste des Clients</h2>
      <table class="min-w-full border border-gray-200">
        <thead>
          <tr class="bg-gray-100">
            <th class="py-2 px-4 border-b text-left text-gray-600">ID</th>
            <th class="py-2 px-4 border-b text-left text-gray-600">Nom</th>
            <th class="py-2 px-4 border-b text-left text-gray-600">Email</th>
            <th class="py-2 px-4 border-b text-left text-gray-600">Tel</th>
            <th class="py-2 px-4 border-b text-left text-gray-600">Adresse</th>
            <th class="py-2 px-4 border-b text-center text-gray-600">Actions</th>
          </tr>
        </thead>
        <tbody>
          <tr class="hover:bg-gray-50">
            <td class="py-2 px-4 border-b">1</td>
            <td class="py-2 px-4 border-b">Razafindrakoto Benjamin</td>
            <td class="py-2 px-4 border-b">Razafindrakotogmail.com</td>
            <td class="py-2 px-4 border-b">+261342563256</td>
            <td class="py-2 px-4 border-b">T5 VII tsarahonenana</td>
            <td class="py-2 px-4 border-b space-x-2 flex flex-row content-center">
                <a href="">
                  <img class="h-6 hover:opacity-70 transition" src="/assets/delete.png" alt="" srcset="">
                </a>
                <a href="">
                  <img class="h-6 hover:opacity-70 transition" src="/assets/compose.png" alt="" srcset="">
                </a>
            </td>
          </tr>
          <tr class="hover:bg-gray-50">
            <td class="py-2 px-4 border-b">2</td>
            <td class="py-2 px-4 border-b">Randriamihary Dani</td>
            <td class="py-2 px-4 border-b">Randriamiharygmail.com</td>
            <td class="py-2 px-4 border-b">+261347213993</td>
            <td class="py-2 px-4 border-b">IIT5 CA betongolo</td>
            <td class="py-2 px-4 border-b text-center space-x-2 flex flex-row">
                <a href="">
                  <img class="h-6 hover:opacity-70 transition" src="/assets/delete.png" alt="" srcset="">
                </a>
                <a href="">
                  <img class="h-6 hover:opacity-70 transition" src="/assets/compose.png" alt="" srcset="">
                </a>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
<!--
  <div class="absolute bottom-3 right-2 ">
    <button type="button" class="btn bg-blue-500 text-white rounded-xl p-2 font-bold hover:bg-blue-900 transition 3s">Export Excel</button>
    <button type="button" class="btn bg-yellow-500 text-white rounded-xl p-2 font-bold hover:bg-yellow-900 transition 3s mx-1">Import Excel</button>
  </div> -->
</div>
