<div class="container-fluid">

  <app-navbar></app-navbar>

  <div class="p-6 bg-gray-100 min-h-screen border-2 m-3 rounded-xl">

    <!-- 🔍 Barre de recherche + bouton -->
    <div class="flex justify-between items-center mb-6">
      <input type="text" placeholder="Recherche globale"
        class="w-1/4 p-2 border border-gray-300 rounded-xl focus:outline-none" />
      <div>
        <button (click)="openModal()" class="bg-indigo-600 text-white px-4 py-2 rounded-xl hover:bg-indigo-700">
          + Nouveau ajouter
        </button>
        <app-modal-produit [isOpen]="isModalOpen" title="Produits" (close)="closeModal()">
        </app-modal-produit>
      </div>

    </div>


    <!-- 📊 Tableau -->
    <div class="overflow-x-auto bg-white rounded-lg shadow">
      <table class="min-w-full text-left">
        <thead class="bg-gray-100 text-gray-600">
          <tr>
            <th class="px-4 py-2">Name</th>
            <th class="px-4 py-2">Prix</th>
            <th class="px-4 py-2">TVA</th>
            <th class="px-4 py-2">Stock</th>
            <th class="px-4 py-2">Description</th>
            <th class="px-4 py-2">Activity</th>
            <th class="px-4 py-2 text-center">Action</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let user of users" class="border-b hover:bg-gray-50">
            <td class="px-4 py-2">{{ user.nom }}</td>
            <td class="px-4 py-2">{{ user.prix }}</td>
            <td class="px-4 py-2">{{ user.tva }}</td>
            <td class="px-4 py-2">{{ user.stock }}</td>
            <td class="px-4 py-2">{{ user.description }}</td>
            <td class="px-4 py-2">
              <div class="w-full bg-gray-200 rounded-full h-2">
                <div class="bg-green-500 h-2 rounded-full" [style.width.%]="user.activity"></div>
              </div>
            </td>
            <td class="px-4 py-2 flex flex-row gap-2 justify-center">
             <a href=""><img src="/resources/facture-front/public/" alt="" srcset=""></a>
            </td>
          </tr>
        </tbody>
      </table>
    </div>

    <!-- 📄 Pagination -->
    <div class="flex justify-between items-center mt-4 text-sm text-gray-600">

      <div>
        <!-- <span>Showing 1 to 10 of 200 entries</span> -->
      </div>
      <div class="space-x-2">
        <button class="px-3 py-1 border rounded hover:bg-gray-200">Prev</button>
        <button class="px-3 py-1 border rounded hover:bg-gray-200">Next</button>
      </div>
    </div>
  </div>


</div>
